*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  border: 3px solid blue;
}

#root {
  height: 100%;
  display: block;
}

.flox {
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid red;
}

.config-card {
  margin: 1rem;
  border: 3px solid green;
  flex-grow: 1;
  min-width: 20em;
  max-width: 35em;
}

.display-card {
  border: 3px solid green;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 1px solid black;
}