*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  display: block;
}

.app {
  height: 100%;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.layout-flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.layout-flexcol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.config-card {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.config-controls {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.config-content {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 24px;
}

.config-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.config-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.config-section-title {
  font-size: 24px;
  margin-bottom: 4px;
}

.config-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.config-grid.full {
  grid-template-columns: 1fr;
}

.config-grid.four {
  grid-template-columns: repeat(4, 1fr);
}

.config-controls > button {
  align-self: flex-start;
}

.canvas {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

